name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Random 10 Test
      id: random-10-test
      uses: classroom-resources/autograding-python-grader@v1
      with:
        timeout: 5
        setup-command: python3 random_test.py
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        RANDOM-10-TEST_RESULTS: "${{steps.random-10-test.outputs.result}}"
      with:
        runners: random-10-test
